<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
{% include 'menu.html' %}
<form class="loan_book" method="POST" action="">
    <label>Tytuł ksiązki</label><br>
    <input name="title_book" type="text" maxlength="255" value=""/><br>
    <label>Imię klineta</label><br>
    <input name="first_name" type="text" maxlength="255" value=""/><br>
    <label>Nazwisko klineta</label><br>
    <input name="last_name" type="text" maxlength="255" value=""/><br>
    <button class="btn btn-secondary btn-sm"
    " type="submit">Dodaj</button>
</form>
</body>
</html>