<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
     {% include 'menu.html' %}
     <form class="add_client" method="POST" action="">
         <label>Nazwa</label><br>
         <input name="name" type="text" maxlength="255" value=""/><br>
         <button type="submit" name="submit"  value="author">Dodaj</button>
     </form>
</body>
</html>