<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Biblioteka</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
{% include 'menu.html' %}
{% if add %}
    <div class="pos_form">
<form class="add_book" method="POST" action="">
    <label>ISBN</label><br>
    <input name="ISBN" type="text" maxlength="255" value=""/><br>
    <label>Nazwa</label><br>
    <input name="name" type="text" maxlength="255" value=""/><br>
    <label>Opis</label><br>
    <input name="description" type="text" maxlength="255" value=""/><br>
    <label>Autor</label><br>
    <input name="name_author" type="text" maxlength="255" value=""/><br>
    <button class="btn btn-secondary btn-sm"
    " type="submit">Dodaj</button>
</form>
{% elif change %}
<form class="add_book" method="POST" action="">
    <label>ISBN</label><br>
    <input name="ISBN" type="text" maxlength="255" value="{{details[1]}}"/><br>
    <label>Nazwa</label><br>
    <input name="name" type="text" maxlength="255" value="{{details[2]}}"/><br>
    <label>Opis</label><br>
    <input name="description" type="text" maxlength="255" value="{{details[3]}}"/><br>
    <label>Autor</label><br>
    <input name="name_author" type="text" maxlength="255" value="{{details[4]}}"/><br>
    <button class="btn btn-secondary btn-sm"
    " type="submit">Zmień</button>
</form>
{% elif details %}
<form class="add_book" method="Get" action="">
    <label>ISBN</label><br>
    <input name="ISBN" type="text" maxlength="255" value="{{details[1]}}"/><br>
    <label>Nazwa</label><br>
    <input name="name" type="text" maxlength="255" value="{{details[2]}}"/><br>
    <label>Opis</label><br>
    <input name="description" type="text" maxlength="255" value="{{details[3]}}"/><br>
    <label>Autor</label><br>
    <input name="name_author" type="text" maxlength="255" value="{{details[4]}}"/><br>
    <a class="btn btn-secondary btn-sm" href="http://127.0.0.1:5000/books" role="button">Ok</a>
</form>
{% endif %}
</div>
</body>
</html>