<div class="menu-bar">
    <ul>
        <li><i class="fa fa-book"></i>Książki
            <div class="sub-menu-1">
                <ul>
                    <li><a href="http://127.0.0.1:5000/books">Lista książek</a></li>
                    <li><a href="http://127.0.0.1:5000/add_book">Dodaj ksiązkę</a></li>
                    <li><a href="http://127.0.0.1:5000/category">Lista kategorii</a></li>
                    <li><a href="http://127.0.0.1:5000/add_category">Dodaj kategorię</a></li>
                </ul>
            </div>
        </li>
        <li><i class="fa fa-user"></i>Autorzy</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="http://127.0.0.1:5000/authors">Lista autorów</a></li>
                    <li><a href="http://127.0.0.1:5000/add_author">Dodaj autora</a></li>
                </ul>
            </div>
        <li><i class="fa fa-users"></i>Klienci</a>
            <div class="sub-menu-1">
                <ul>
                    <li><a href="http://127.0.0.1:5000/clients">Lista klientów</a></li>
                    <li><a href="http://127.0.0.1:5000/add_client">Dodaj klienta</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#"><i class="fa fa-clone"></i>Wypożycz</a>
        </li>
    </ul>
</div>
